<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Optimus</title>
  <meta name="description" value="The search engine that doesn't track you. Learn More.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <meta name="author" value="vanGato">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./static/css/colors.css">
  <link rel="stylesheet" type="text/css" href="./static/css/modal.css">
  <link rel="stylesheet" type="text/css" href="./static/css/index.css">
<script>
examples = [];

examples.push(`
// A basic binary linear program problem.
min x*y + 2*x

// Add linear programming constraints
subject to x+y+z==1
subject to x-z==1 
`)

examples.push(`
// A more advanced linear program ran on D-Wave
min 2*x*y+ 6*x + z*x + y*z
subject to x+y==1
subject to x==1
run on dwave
`)

examples.push(`
// Que automatically handles higher order
// interactions. Ancilla qubit(s) will be added 
// to the QUBO formulation as needed.
min x*y*z
subject to x+y==1
subject to x==1
`)

examples.push(`
min 3*x*y + x*z + 4*z*y
subject to x+y+z==1
subject to x-z==1
solve prune xanadu
`)

examples.push(`
min 3*x*y + x*z + 4*z*y
subject to x+y+z==1
subject to x-z==1
solve prune dwave
run on dwave, ibm, rigetti
`)

</script>
</head>
<body>
  <br>
  <br><br><br><br><br><br>
  <div class="index">
    <section class="index__header">
        <img width="400px" src="static/img/logo2.png"/>
<!--       <ul class="index__nav">
        <li class="index__active"><a>Web</a></li>
        <li><a href="serp.htm">Images</a></li>
        <li><a href="serp.htm">Videos</a></li>
        <li><a href="serp.htm">News</a></li>
      </ul> -->
      <br>
      <div class="index__search">
        <form action="submit_program" onsubmit="submit_program(); return false">
          <textarea name="program" class="outer" id="programming_box"></textarea>
          <br>
          <div id="results"></div>
          <center>
            <button class="btn btn-light" aria-label="Search" type="submit" style="padding:10px; font-size:20px">
              Compile
              <div class="index__ico"></div>
            </button>
            <button type="button" onclick="feeling_lucky()" class="btn btn-light" style="padding:10px; font-size:20px">
              I'm feeling lucky
              <div class="index__ico"></div>
            </button>
          </center>
        </form>
      </div>
    </section>
  </div>
  <!-- Modal -->
  <div class="modal" id="about" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__header">
        <h2>About</h2>
        <a href="#" class="modal__close" aria-hidden="true">×</a>
      </div>
      <div class="modal__body">
        <strong>Lorem Ipsum</strong><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="modal__footer">
        <p>Last Update 01.01.2019</p>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</body>
<div id="loading_box" style="display: none">
  <center>
    <img width="100px" src="static/img/loading.gif"/>
  </center>
</div>

<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="static/css/codemirror.css">
<script src="static/js/codemirror.js"></script>


<style>
      .CodeMirror {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    height: auto;
      }

    html{
      arial,sans-serif
    }
</style>
<script>

  editor = CodeMirror.fromTextArea(document.getElementById("programming_box"), {
    viewportMargin: Infinity,
    lineNumbers: true
  });

  function submit_program(){
    $("#results").html($("#loading_box").html());
    $.ajax({type : 'POST', url: "/submit_program", data:{"program_string": editor.getValue()}, success: function(result){
      $("#results").html(result["results_block"]);
    }});
  }

  $(document).ready(function(){
    editor.display.input.focus()
  });
</script>

<br>
<br>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="examples_holder" style="bottom: 0px; position: fixed">
</div>

<script>
function choose(choices) {
  var index = Math.floor(Math.random() * choices.length);
  return choices[index];
}


function feeling_lucky(){
  exp = choose(examples);
  type_in(exp, 0);
}


function insertTextAtCursor(data){
    var cm = $('.CodeMirror')[0].CodeMirror;
    var doc = cm.getDoc();
    var cursor = doc.getCursor(); // gets the line number in the cursor position
    var line = doc.getLine(cursor.line); // get the line contents
    var pos = { // create a new object to avoid mutation of the original selection
        line: cursor.line,
        ch: line.length - 1 // set the character position to the end of the line
    }
    doc.replaceSelection(data, pos); // adds a new line
}

function changeImage(t){
  $("#image-gallery-image").attr("src", $(t).find(".img-thumbnail").attr("src"));
}

function type_in(paragraph, index){
  // var cm = $('.CodeMirror')[0].CodeMirror;
  // var doc = cm.getDoc();
  // doc.replaceRange('', 0);
  if (index == 0){
    var cm = $('.CodeMirror')[0].CodeMirror;
    cm.setValue("");
    editor.display.input.focus()
  }

  string_to_array = function (str) {
       return str.trim().split(" ");
  };
  fdd = string_to_array(paragraph);
  if (index==fdd.length) return;
  fdd.reverse();
  window.setTimeout(function(){
    insertTextAtCursor(fdd[index] + " ");
    type_in(paragraph, index +1);
  }, 200);
}


html_for_examples_holder = ""
for (var i = 0; i < examples.length; i++) {
  html_for_examples_holder = html_for_examples_holder + '<a onclick="type_in(examples[' + i+ '], 0)" href="#">Example '+ (i+1)+ ' </a>'
}
$("#examples_holder").html(html_for_examples_holder);



</script>


</html>
